@model Product
<div class="card card-body bg-light mb-3">
    <h3>
        <strong>@Model.Name</strong>
        <span class="float-right badge badge-primary">@Model.Price.ToString("c")</span>
    </h3>
    <form id="@Model.ProductID" asp-action="AddToCart" asp-controller="Cart" method="post">
        <input type="hidden" asp-for="ProductID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="lead">
            @Model.Description
            <button type="submit" class="btn btn-success btn-sm float-right">Добавить в корзину</button>
        </span>
    </form>
</div>