@model IEnumerable<Product>

@{
    ViewBag.Title = "Все товары";
    Layout = "_AdminLayout";
}

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th class="text-right">ID</th>
        <th>Название</th>
        <th class="text-right">Цена</th>
        <th class="text-center">Действия</th>
    </tr>
    @foreach (Product item in Model)
    {
        <tr>
            <td class="text-right">@item.ProductID</td>
            <td>@item.Name</td>
            <td class="text-right">@item.Price.ToString("c")</td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-productId="@item.ProductID">Редактировать</a>
                    <input type="hidden" name="ProductID" value="@item.ProductID" />
                    <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                </form>
            </td>
        </tr>
    }
</table>
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Добавить товар</a>
</div>