@model Product

@{
    ViewBag.Title = "Наименование товара";
}
<div data-productid="@Model.ProductID" data-stocklevel="@ViewBag.StockLevel">
    <p>Наименование товара: @Model.Name</p>
    <p>Цена товара: @($"{Model.Price:C2}")</p>
    <p>Количество на складе: @ViewBag.StockLevel</p>
</div>