@model Product

@{
    ViewBag.Title = "Наименование товара";
}
<div data-productid="@Model.ProductID" data-stocklevel="@ViewBag.StockLevel">
    <p>Наименование товара: @Model.Name</p>
    <p>Цена товара: @($"{Model.Price:C2}")</p>
    <p>
        Количество на складе:
        @if (ViewBag.StockLevel == 0)
        {
            @:Нет на складе
        } else if (0 < ViewBag.StockLevel && ViewBag.StockLevel <= 3)
        {
            <b>мало запаса (@ViewBag.StockLevel)</b>
        } else
        {
            @: @ViewBag.StockLevel в запасе
        }
    </p>
</div>